*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
body{
    color: #192539;
    background-color: #f6f6f6;
    /* background-color: #0d2258; */
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5rem;
    
}
#textBody{max-width: 1200px; margin: auto;}
img{
    max-width: 500px;
    max-height: 500px;
}


h4{
    text-align: center;
}
ul, li {
    list-style: none;
}

#headerContent{
    text-align: right;
    background-color: #212529;
    color: #eee;
}
#headerContent span{
    color:#e70b0b;
    font-size: 3rem;
}
#headerContent h1{
    text-align: left;
    font-size: 2.5rem;
    padding: 1rem 0 0.5rem 1rem;
    background-color: #f6f6f6;
    color: #212529;
}
.headerTagline{
    padding: 2rem;
}

#intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #212529;
    color: #111;
    color: #f6f6f6;
    font-weight:bold;
}
.missionImg{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.mission{
    padding: 1rem;
    width: 75%;
    margin: auto;
    text-align: center;
}
.mission h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.mission button{
    padding: 0.5rem 1.5rem;
}
.donate-btn{
    background-color: #2452dc;
    color: #efebf0;
    padding: 10px;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: solid #192539 1px;
    border-radius: 5px;
}
.donate-btn:active{
    translate: 1px 2px;
    /* background-color: green; */
    background-color: #4169e1;


}
section{
    margin-bottom:1rem;
}

.donationsGo{
    text-align: center;
    border: solid red 2px;
    margin: auto;
    /* width: 50%; */

}

#gives{
    color:#eee;
    /* background-color: #cd2026; */
    /* border: solid #111 5px; */
    /* background: #111; */
    margin: auto;
    text-align: center;
    color: #111;
    /* border-radius: 10px; */
    padding: 1rem 2rem;
    margin-bottom: 0;
}
#gives .aidContent{
    /* background-color: #cd2026; */
    /* background-color: royalblue; */
    background-color: #ddd ;
    margin: auto;
    width: 50%;
    text-align: center;
    color: #111;
    /* color: royalblue; */
    border-radius: 10px;
    padding: 1rem 2rem; 
}

#gives .aidContent h2{
    font-size: 2.2rem;
    padding: 1rem;
    /* border: solid hotpink 20px; */
}
#gives span{
    /* color: #eee; */
    color: royalblue;
    text-decoration: underline;
}

#weProvide{
    padding: 1rem ;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

} 
#weProvide img{
    height:250px;
    border-radius: 10px 10px 0 0;
    /* margin: 1rem; */
}
.card{
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    /* border: solid hotpink 2px; */
    background-color: #212529;
    color: #f6f6f6;
    border-radius: 10px;
    max-width: 400px;
    /* padding: 1rem 0 ; */
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    margin-bottom: 1rem;
}

.cardText{
    padding: 0 2rem 1rem;
    /* border: solid lime 2px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: auto;
}


.cardContent h2{
    font-size: 1.7rem;
    margin: 0.5rem 0 0.5rem 0;
    text-align: center;
}
#pictures{margin-top: 1rem;}
#pictures h2, #aboutUs h2{
    font-size: 2.2rem;
}
#imgGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    align-items: center;
}
.imgGridPhoto{
    margin: auto;
    height: 180px;
    width: 220px;
    border: 1px solid #eee;
    box-shadow: 1px 1px 4px 0px  rgba(0,0,0,0.3);
    /* max-width: 100%; */
}

#aboutUs{
    padding: 1rem;
    text-align: center;
    background-color: white;
    /* border: solid red 2px; */
 
}

#aboutUs .textContent{
    /* display: flex; */
    /* flex-direction: row; */
    /* padding: 0 1rem 1rem 1rem; */
    /* background-color: white; */
    /* margin: 1rem 0; */
    text-align: justify;
}
.textContent p {
    text-align: justify;
    margin: 1rem;
} 
footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 10px;
}
#socialLinks{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
}
#socialLinks li a {
    padding: 10px;
    margin-bottom: 20px;
}

/* -----------link styling--------------- */
a {
   text-decoration: none; 
   color: #eee;
}
/* a:visited{
    color: white;
} */
a:hover{
    color: royalblue;
    text-decoration: underline;

}
a:active{
    translate: 1px 2px;


}


 .float{
    float:left;
    font-size: 2rem;
    line-height: 2rem;
    padding:1rem;
    width: 45%;
}

.top{
    background-color:#212529;
    color: #f6f6f6;
    height: 100%;
border-radius: 10px;
    padding: 1rem;
    text-align: center;
}
.cardSection .bottom{
    background-color:royalblue;
    color: #f6f6f6;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
}
.card2{
    margin: 1rem;
}
.card2 button {
    background-color:red;
    color: #191919;
}
.cardSection{
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* border: solid hotpink 2px; */

}
.top h2{
    font-size: 2rem;
    margin-bottom: 1rem;

}